#workspace-exterior-container{
    margin-bottom: 35px;
}
#workspace-interior-container{
}

#workspace-link{
    margin-right: 20px;
}

#home-workspace-name{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    max-width: 255px;
}

#home-name-name{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

#boards-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    transition: 100ms;
}

#boards-button:hover{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(215, 215, 215);
    cursor: pointer;
    border-radius: 4px;
}

#members-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    transition: 100ms;
}

#members-button:hover{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(215, 215, 215);
    cursor: pointer;
    border-radius: 4px;
}

#settings-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    transition: 100ms;
}

#settings-button:hover{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(215, 215, 215);
    cursor: pointer;
    border-radius: 4px;
}

#create-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    transition: 100ms;
}

#create-button:hover{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(215, 215, 215);
    cursor: pointer;
    border-radius: 4px;
}

#delete-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    transition: 100ms;
}

#delete-button:hover{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(222, 144, 144);
    cursor: pointer;
    border-radius: 4px;
}

#confirm-delete-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    transition: 100ms;
}

#confirm-delete-button:hover{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(222, 144, 144);
    cursor: pointer;
    border-radius: 4px;
}

#cancel-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    transition: 100ms;
}

#cancel-button:hover{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: rgb(215, 215, 215);
    cursor: pointer;
    border-radius: 4px;
}


#first-letter-icon{
    margin-right: 10px;
    padding: 5px;
    background: linear-gradient(0.25turn,#525782, #525782, #525782);
    color: white;
    text-decoration: none;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 3px;
    transition-property: all;
    transition: 600ms;
}

#first-letter-icon:hover{
    background: linear-gradient(0.25turn,#525782, #525782, #525782);
}

#board-map{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.fa-gear{
    padding-left: 5px;
}

.fa-users{
    padding-left: 5px;
    padding-right: 2px;
}

.fa-table-columns{
    padding-left: 5px;
    padding-right: 1px;
}

.fa-plus{
    padding-left: 5px;
    padding-right: 1px;
}

.fa-trash{
    padding-left: 5px;
    padding-right: 1px;
}
