@font-face {
    font-family: 'Arimo-Bold';
    src: url('../../../fonts/arimo/Arimo-Bold.ttf');
}

@font-face {
    font-family: 'GothicA1-Medium';
    src: url('../../../fonts/gothicA1/GothicA1-Medium.ttf');
}

@font-face {
    font-family: 'Kodchasan-Medium';
    src: url('../../../fonts/Kodchasan/Kodchasan-Medium.ttf');
}

#create-workspace-modal{
    max-width: 800px;
    color: rgb(50, 50, 50);
}

#welcome-message-container{
    width: 100%;
    font-family: 'GothicA1-Medium';
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-header{
    font-size:x-large;
    font-weight: 600;
    color: rgb(50, 50, 50);
    margin: 15px;
}

#welcome-paragraph{
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin: 10px;
}

#lets-get-started{
    font-size: large;
    font-weight: 600;
    text-decoration: underline;
    margin: 10px;
}

#form-input{
    margin: 25px;
}

#errors-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#home-create-workspace-button{
    display: 'flex';
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin:8px;
    border-radius: 5px;
    transition: .5s;
    align-items: center;
    font-size: medium;
    font-weight: 400;
    text-decoration: none;
    /* color: rgb(30, 30, 30); */
    background-color: #82526F;
    color: white;
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .1);
    transition: 250ms;
    width: 142px;
}

#home-create-workspace-button:hover{
    background-color: #82526F;
    color: white;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, .3);
}

#home-workspace-cancel-button{
    display: 'flex';
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin:8px;
    border-radius: 5px;
    transition: .5s;
    align-items: center;
    font-size: medium;
    font-weight: 400;
    text-decoration: none;
    /* color: rgb(30, 30, 30); */
    background-color: #82526F;
    color: white;
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .1);
    transition: 250ms;
    width: 100px;
}

#home-workspace-cancel-button:hover{
    background-color: #82526F;
    color: white;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, .3);
}

#title-input{
    border: #82526F solid 1px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
}

#description-textarea{
    border: #82526F solid 1px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    height: 150px;
}

#description-textarea:hover{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .35);
}