#board-exterior-container{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 120px;
    width: 250px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    transition: 300ms;
    background-color: #528265;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#board-exterior-container:hover{
    transform: translate(0px, -2px);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
}


#board-interior-container{

}

#board-title{
    font-size: larger;
    font-weight: 600;
    /* color: rgb(50, 50, 50); */
    color: white
}