#home-exterior-container{
    margin: 30px;
    display: flex;
    justify-content: center;
}

/* #home-interior-container{
    display: flex;
    align-items: flex-start;
    width: 85%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 10;
}

#side-nav-bar{
    display: flex;
    flex-direction: column;
}

#side-nav-bar-container{
    grid-row: 1;
    grid-column: 1 / 3;
}

#main-content-container{
    grid-row: 1;
    grid-column: 4 / 11;
} */

#home-interior-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;

}

#side-nav-bar{
}

#side-nav-bar-container{
    margin-top:12px;
    width: 20%;

}

#main-content-container{
    width: 80%;
}