@font-face {
    font-family: 'Arimo-Bold';
    src: url('../../fonts/arimo/Arimo-Bold.ttf');
}

@font-face {
    font-family: 'GothicA1-Medium';
    src: url('../../fonts/gothicA1/GothicA1-Medium.ttf');
}

@font-face {
    font-family: 'Kodchasan-Medium';
    src: url('../../fonts/Kodchasan/Kodchasan-Medium.ttf');
}


#nav-bar-container{
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #82526F;
    background-color: #528265;
    font-family: 'GothicA1-Medium';
    transition: 250ms;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .2);
}

#nav-bar-container:hover{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .3);
}

#nav-bar-nav{
    width: 95%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 20px;
}

#nav-utilities{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 20px;
}

#home-button{
    transition: 250ms;
}

#home-button:hover{
    transform: scale(1.02);
}

#login-button{
    padding: 12px;
    margin:8px;
    border-radius: 5px;
    transition: .5s;
    align-items: center;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    /* color: rgb(30, 30, 30); */
    background-color: #82526F;
    color: white;
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .1);
    transition: 250ms;
}

#login-button:hover{
    background-color: #82526F;
    color: white;
    font-weight: 500;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, .3);
}

#signup-button{
    padding: 12px;
    margin:8px;
    border-radius: 5px;
    transition: .5s;
    align-items: center;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    /* color: rgb(30, 30, 30); */
    background-color: #82526F;
    color: white;
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .1);
    transition: 250ms;
}

#signup-button:hover{
    background-color: #82526F;
    color: white;
    font-weight: 500;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, .3);
}

#about-link{
    padding: 12px;
    margin:8px;
    border-radius: 5px;
    transition: .5s;
    align-items: center;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    background-color: #82526F;
    color: white;
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .1);
    transition: 250ms;
}

#about-link:hover{
    background-color: #82526F;
    color: white;
    font-weight: 500;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, .3);
}


