#profile-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#profile-image{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

#profile-image-wrapper{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    /* padding: 12px; */
    margin: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 600;
    font-size:x-large;
    border: 1px solid #82526F;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    transition: 170ms;
}

#profile-image-wrapper:hover{
    cursor: pointer;
}

#utility-drop-down{
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .2);
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    margin-top: 10px;
    right: 2%;
    border-top: 2px solid #82526F;
    border-left: 2px solid #82526F;
    border-right: 2px solid #82526F;
    border-bottom: 2px solid #82526F;
}

#about-link{
    padding: 12px;
    margin:8px;
    border-radius: 5px;
    transition: .5s;
    align-items: center;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    background-color: #82526F;
    color: white;
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .1);
    transition: 250ms;
}

#about-link:hover{
    background-color: #82526F;
    color: white;
    font-weight: 500;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, .3);
}

#meet-the-dev{
    display: flex;
    padding: 12px;
    margin:8px;
    height: 18px;
    border-radius: 5px;
    transition: .5s;
    align-items: center;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    background-color: #82526F;
    color: white;
    box-shadow: 0 2px 15px 2px rgba(17, 15, 15, 0.1);
    transition: 250ms;
}

#meet-the-dev:hover{
    background-color: #82526F;
    color: white;
    font-weight: 500;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, .3);
}

#meet-the-dev-text{
    display: flex;
    justify-content: center;
}

#external-links{
    display: flex;
    flex-direction: row;
}

#nav-github-link{
    margin-left: 13px;
    margin-right: 8px;
}

#nav-linkedin-link{
    margin-left: 5px;
    margin-right: 5px;
}


