#card-exterior-container{
    margin: 5px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 5px 5px 5px 5px;
    transition: 120ms;
    cursor: pointer;
}

#card-exterior-container:hover{
    background-color: rgb(240, 240, 240);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    border-radius: 5px 5px 5px 5px;
}

#card-interior-container{
    margin: 10px;
    padding: 10px;

}

#card-title{
    font-size: medium;
}
