#board-page-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#interior-container{
    width: 85%;
}

#title-display{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: large;
    font-weight: 500;
}

#title-name{
    font-size: x-large;
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#list-container{
    display: flex;
    flex-direction: row;
}

#lists-map{
    display: flex;
    flex-direction: row;
}

#add-list-board-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    transition: 100ms;
}

#add-list-board-button:hover{
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}

#board-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}