#list-exterior-container{
    margin: 10px;
    width: 260px;
    height: fit-content;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(230, 230, 230);
}

#list-interior-container{
    margin: 10px;
}

#title-container{
    font-size: larger;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    transition: 200ms;
    margin-left: 8px;
    margin-right: 8px;
}

#title-text-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#list-title-title{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

#title-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: 170ms;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#title-text:hover{
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}

#non-edit-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title-container:hover{
}

#title-plus-dropdown-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.fa-gear{
    padding-right: 3px;
}

#settings-dropdown-button {
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    transition: 100ms;
}

#settings-dropdown-button:hover{
    background-color: rgb(215, 215, 215);
}

#board-add-card-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    transition: 100ms;
}

#board-add-card-button:hover{
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}

#list-settings-dropdown{
    /* background-color: rgb(250, 250, 250);
    border-radius: 5px;
    border: 1px solid #82526F;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .2); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    height: 80px; */
    margin-top: 15px;
    /* margin-bottom: 5px;  */
}

#list-delete-list-button{
    display: 'flex';
    padding: 12px;
    margin:8px;
    border-radius: 5px;
    transition: .5s;
    font-size: medium;
    font-weight: 400;
    text-decoration: none;
    background-color: #82526F;
    color: white;
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .1);
    transition: 250ms;
    width: 65px;
}

#list-delete-list-button:hover{
    background-color: #82526F;
    color: white;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, .3);
}

#list-cancel-list-button{
    display: 'flex';
    justify-content: center;
    align-content: center;
    padding: 12px;
    margin:8px;
    border-radius: 5px;
    transition: .5s;
    font-size: medium;
    font-weight: 400;
    text-decoration: none;
    /* color: rgb(30, 30, 30); */
    background-color: #82526F;
    color: white;
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .1);
    transition: 250ms;
    width: 65px;
}

#list-cancel-list-button:hover{
    background-color: #82526F;
    color: white;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, .3);
}