#loading-background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
    background-color: #807f7f;
}

#board-page-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
}

#interior-container{
    width: 85%;
}

#title-display{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: large;
    font-weight: 500;
}

#title-name{
    font-size: x-large;
    max-width: 350px;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

#board-title-title{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
}

#list-container{
    display: flex;
    flex-direction: row;
}

#lists-map{
    display: flex;
    flex-direction: row;
}

#add-list-board-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    transition: 100ms;
}

#add-list-board-button:hover{
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}

#board-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* #board-settings-dropdown{
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    border: 1px solid #82526F;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 25px;
} */

#delete-board-button{
    display: 'flex';
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin:8px;
    border-radius: 5px;
    transition: .5s;
    align-items: center;
    font-size: medium;
    font-weight: 400;
    text-decoration: none;
    /* color: rgb(30, 30, 30); */
    background-color: #82526F;
    color: white;
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .1);
    transition: 250ms;
    width: 95px;
}

#delete-board-button:hover{
    background-color: #82526F;
    color: white;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, .4);
}