#modal-exterior-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 700px;
    height: 550px;
}

#modal-interior-container{
    margin: 10px;
}

#main-content{
    display: grid;
    grid-template-columns: 10;
    grid-template-rows: 1;
}

#main-bar{
    grid-column: 1/7;
    grid-row: 1;
}

#side-bar{
    grid-column: 7/11;
    grid-row: 1;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 10px;

}

#title-header{
    border-bottom: 1px solid black;
    margin: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#card-modal-title-title{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
}

#description-field{
    height: 400px;
    max-width: 480px;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-top: 15px;
    font-size: medium;
    background-color: rgb(240, 240, 240);
    border: solid 1px #82526F;
    border-radius: 4px;
    cursor: pointer;
}

#are-you-sure-you-want-to{
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
    max-width: 400px;
}

#card-modifiers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#move-card-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin: 5px;
    padding: 5px;
    background-color: #82526F;
    color: white;
    border-radius: 4px;
    transition: 100ms;
}

#move-card-button:hover{
    background-color: #82526F;
    color: white;
    cursor: pointer;
}

#edit-title-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin: 5px;
    padding: 5px;
    background-color: #82526F;
    color: white;
    border-radius: 4px;
    transition: 100ms;
}

#edit-title-button:hover{
    background-color: #82526F;
    color: white;
    cursor: pointer;
}

#edit-description-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin: 5px;
    padding: 5px;
    background-color: #82526F;
    color: white;
    border-radius: 4px;
    transition: 100ms;
}

#edit-description-button:hover{
    background-color: #82526F;
    color: white;
    cursor: pointer;
}

#delete-card-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin: 5px;
    padding: 5px;
    background-color: #82526F;
    color: white;
    border-radius: 4px;
    transition: 100ms;
}

#delete-card-button:hover{
    background-color: #82526F;
    color: white;
    cursor: pointer;
}

#cancel-card-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin: 5px;
    padding: 5px;
    background-color: #82526F;
    color: white;
    border-radius: 4px;
    transition: 100ms;
}

#cancel-card-button:hover{
    background-color: #82526F;
    color: white;
    cursor: pointer;
}

#confirm-updates-button{
    display: flex;
    flex-direction: row;
    color: rgb(50, 50, 50);
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin: 5px;
    padding: 5px;
    background-color: #bf4040;
    color: white;
    border-radius: 4px;
    transition: 100ms;
}

#confirm-updates-button:hover{
    background-color: #bf4040;
    color: white;
    cursor: pointer;
}

#card-update-buttons{
    display: flex;
    flex-direction: row;
}